
<!DOCTYPE html>



<html>


  <head>
    <title>Map</title>
      <link rel="stylesheet" src="flask.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="stylesheet"  type="text/css" href="/static/cssbike.css">


  </head>
<body>
<div id="code1">
<h1>Dublin Bikes</h1>
<div id="u">
<div id="id00"></div>
<br><br>
<div id="weather"> </div>
<vr
<div id="selecttable">
     <form type="dropdown" id="current"></form>
     <h3 id="h3i">Select Station to Show Current Info:   </h3> <select name="Station" id="Station" size="10" >
    <option  value="--Select Station--" selected="selected" id="stationid">Select Station: </option>
     </select>
      <br>
      <button id="submit" value="Submit"> Submit </button>
</div>
<br> 
      

      <div id=station_selection> </div>
    </div>
<div id="id03"></div>
 <p id="id01"> </p>     
  
    
<div id = "id04"> </div>
    
    <script src="/static/bikejs.js"></script>
     
    <div id="map"></div>

            
     <div class="tabcontent">

                    <div class="tab">
                        Date:   <input type="date" id="param1" name="param1" value="2022-04-14" max="2022-06-01">
                        Time:  <input type="time" id="param3" name="param3" value="19:00" min="00:00" max="23:00" required>
                        Station No.: <input type="number" id="param2" name="param2" required><button id="bt" onclick="prediction()">Show available bikes</button>
                        <br>
                        <h2 id="textinbox"> Number of available bikes at  selected date and time:  </h2><h2  id="prediction-bikes"> 
                        </h2>
                    </div>
    </div>       
        
        
        
        
        
    
    



   
 
   
  
    
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUUtoAUApYxHvPVCN6SxFtaJSVcplSXNI&callback=initMap&libraries=&v=weekly"
      async>
    </script>
</body>
</html>
